.editableTable {
    display: flex;
    flex-direction: column;
    padding: 0 calc(var(--grid-unit) * 2px);

    .container {
        display: grid;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        overflow: auto;
        scroll-behavior: smooth;
        
        .table {
            border-collapse: collapse;

            .tableRowCell {
                padding: 0 calc(var(--grid-unit) * 1px);
                height: calc(var(--grid-unit) * 7px);
                border-bottom: 1px solid var(--color-black-alt4);

                &.selectionCell {
                    padding: 0 calc(var(--grid-unit) * 2px);
                }
                &.toolbarCell{
                    padding-right: calc(var(--grid-unit) * 2px);
                }
            }
    
            .header {
                text-align: left;
                font-weight: normal;
                background: var(--color-black-alt5);
                padding: calc(var(--grid-unit) * 2px);
                position: sticky;
                top: 0;
                z-index: 1 ;
                min-width: calc(var(--grid-unit) * 21px);
                border-bottom: 2px solid var(--color-black-alt4);

                &.selectionCell {
                    min-width: calc(var(--grid-unit) * 6px);
                    padding: 0 calc(var(--grid-unit) * 2px);
                }
                &.toolbarCell{
                    min-width: calc(var(--grid-unit) * 6px);
                    padding-right: calc(var(--grid-unit) * 2px);
                }
            }
        }
        
       
      }
}

.editButton {
    cursor: pointer;
    color: var(--color-primary);

    &:hover{
        color: var(--color-primary-hover);
    }
}

.textAreaContainer {
    height: calc(var(--grid-unit) * 30px);
    overflow: auto;
    padding: calc(var(--grid-unit) * 2px);
}
.taskBar {
    padding-left: calc(var(--grid-unit) * 2px);
}

.menuContainer{ 
    pointer-events: all;
    min-height: calc(var(--grid-unit) * 2px);
    padding-top: calc(var(--grid-unit) * 1px);
    display: flex;
    flex-direction: column;

    .menuItem {
        display:  flex;
        height: calc(var(--grid-unit) * 6px);
        width: calc(var(--grid-unit) * 21px);
        cursor: pointer;

        &:hover{
            background-color: var(--color-black-alt4);
        }

        .icon{
            color: var(--color-primary);
            height: calc(var(--grid-unit) * 6px);
            width: calc(var(--grid-unit) * 6px);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .label {
            display: flex;
            align-items: center;
        }
    }
    
}