.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .toolbar {
        display: flex;
    }
    .table {
        &.emptyTable {
            > div {
               height: calc(var(--grid-unit) * 7px);
           }
       }
    }
   
}
.validToContainer{
    display: flex;
    flex-direction: column;

    .daysLeft {
        color: var(--color-black-alt3);
        padding-top: calc(var(--grid-unit) * 0.5px);
    }

}