.container {
    display: flex;
    flex-direction: column;

    .toolbar {
        display: flex;
        
        .toolbarButton {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: calc(var(--grid-unit) * 2px);
            
            & > span {
                padding-left: calc(var(--grid-unit) * 1px);
            }
        }
    }
}