
.tabContainer {
    display: flex;
    flex-direction: column;

    .accordionItem {
        border: 1px solid var(--color-black-alt2);
    }

    .compactPersonDetails {
        display: flex;
        
        > div {
            padding-right: calc(var(--grid-unit) * 3px);
        }
        .disciplineChip{
            height: calc(var(--grid-unit) * 2px);
            padding: calc(var(--grid-unit) * 1px);
            max-width: calc(var(--grid-unit) * 25px);
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-primary);
            border-radius: 4px;
            background-color: var(--color-black-alt5);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .textField {
        display: flex;
        flex-direction: column;
        .title {
            font-size: 14px;
            line-height: calc(var(--grid-unit) * 2px);
            color: var(--color-black-alt2);
        }
        .content {
            font-size: 16px;
            line-height: calc(var(--grid-unit) * 3px);
            padding-top: calc(var(--grid-unit) * 0.5px);
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .requestDetails {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        grid-template-areas: 
            "description description description"
            "basePosition basePosition customPosition"
            "taskOwner taskOwner taskOwner"
            "fromDate toDate workload";
        row-gap: calc(var(--grid-unit) * 2px);
        column-gap: calc(var(--grid-unit) * 3px);
        
    
        
    
        .description {
            grid-area: description;
            max-height: calc(var(--grid-unit) * 10px);
        }
        .basePosition {
            grid-area: basePosition;
        }
        .customPosition {
            grid-area: customPosition;
        }
        .taskOwner {
            grid-area: taskOwner;
        }
        .fromDate {
            grid-area: fromDate;
        }
        .toDate {
            grid-area: toDate;
        }
        .workload{
            grid-area: workload;
        }
    
    }

}

.skeletonContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;

    .details {
        margin-left: calc(var(--grid-unit) * 2px);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        
        .skeletonBar {
            padding: calc(var(--grid-unit) * .5px);
        }
    }
}
.separator{
    width: 100%;
    border-top: 1px solid var(--color-black-alt4);
}
.container {
    padding: calc(var(--grid-unit) * 3px);
}