.container {
    padding: calc(var(--grid-unit) * 2px);
    display: flex;
    flex-direction: column;
    width: calc(var(--grid-unit) * 24px);

    .certifyButtonContainer{
        padding-top: calc(var(--grid-unit)  * 2px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}