<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Fusion-Public" value="https://statoil-proview.pkgs.visualstudio.com/5309109e-a734-4064-a84c-fbce45336913/_packaging/Fusion-Public/nuget/v3/index.json" />
    <add key="Fusion-Libraries" value="https://statoil-proview.pkgs.visualstudio.com/_packaging/Fusion-Libraries/nuget/v3/index.json" />
  </packageSources>
</configuration>