.activeRequestsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .toolbar{
        display: flex;
        justify-content: space-between;
        padding-bottom: calc(var(--grid-unit) *2px);

    }
}