.container {
    padding: calc(var(--grid-unit) * 3px);
}

.header {
    display: flex;
    align-items: center;

    /* IconButton in fusion components should have flex-shrink: 0 */
    :first-child {
        flex-shrink: 0;
    }

    h2 {
        margin: 0 calc(var(--grid-unit) * 2px);
        font-size: 20px;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.stepContainer {
    padding: calc(var(--grid-unit) * 3px) 0;
}

.sideSheetContainer {
    padding: calc(var(--grid-unit) * 3px);
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--grid-unit) * 4px);
    max-width: calc(var(--grid-unit) * 100px);
}

.field {
    margin-right: calc(var(--grid-unit) * 3px);
    flex-grow: 1;

    &:last-child {
        margin-right: 0;
    }

    &.big {
        width: 100%;
        margin: 0;
    }
}

.buttonPositionName {
    margin-left: calc(var(--grid-unit) * 1px);
}