  .container {
    display: grid;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: calc(var(--grid-unit) * 3px);
    grid-template-rows: auto 1fr;

        .tableRowCell {
            padding-bottom: calc(var(--grid-unit) * 1px);
        }

        .header {
            text-align: left;
            font-weight: normal;
            background: var(--color-black-alt5);
            padding: calc(var(--grid-unit) * 2px);
            position: sticky;
            top: 0;
            z-index: 1 ;
        }


    
  }

