.container {
    padding: calc(var(--grid-unit) * 3px);
}

.linkInColumn {
    display: flex;
    align-items: center;
    max-width: calc(var(--grid-unit) * 60px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
}