.helpContainer {
    width: 100%;
    height: 100%;
    display: flex;

    .helpContent {
        width: 100%;

        .tabContainer {
            background-color: var(--color-black-alt5);
            padding: calc(var(--grid-unit) * 3px);
            display: flex;
            flex-direction: column;
            align-items: center;
            

            .title {
                padding-bottom: calc(var(--grid-unit) * 2px);
            }
        }
    }
}